@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font: 10px 'Nanum Gothic', sans-serif;
}

.mabi {
    @apply border border-solid border-[#9F7394] rounded-[5px];
}

.mid {
    @apply flex justify-center items-center pt-0.5;
}

.rgb-box {
    @apply rounded-0.75 border border-[#d5b8e6];
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-input::-webkit-color-swatch {
    border: none;
}

.text-shadow-white {
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff;
}