@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 10px 'NEXON Lv2 Gothic', sans-serif;
    font-weight: 600; /* Medium */
}

.button1 {
    @apply border border-[#9F7394] rounded-[5px];
}
.button2 {
    @apply border border-[#9F7394] rounded-[5px];
}

.mid {
    @apply flex justify-center items-center pt-0.5;
}

.middle {
    @apply flex justify-center items-center;
}

.rgb-box {
    @apply rounded-0.75 border border-[#d5b8e6];
}

.color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-input::-webkit-color-swatch {
    border: none;
}

.text-shadow-white {
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff;
}